*{
  box-sizing: border-box;
}

.main-cont {
  background-color: violet;

  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  
  background-color: blue;
}

.location-header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  box-shadow: 0px 10px 20px 3px red;
}

header, .location-header {
  height: 5rem;
  width: 100vw;
}

.location-header input{
  width: 70vw;

  margin-right: 2rem;
  display: inline;
}

.register-modal {
  min-width: 20rem;
  min-height: 10rem;

  padding: 2rem;

  border-radius: 5px;

  z-index: 10000;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-form {
  min-width: 30vw;
  min-height: 18rem;

  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  border-radius: 1rem;

  box-shadow: 5px 5px 10px 3px lightgrey;
}

label {
  margin-bottom: 1rem;
}

input {
  height: 40px;
  min-width: 15rem;

  margin: .25rem;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 7px;
}

.modal-form label, input {
  display: block;
}

button{
  background-color: light
  green;
}

.home{
  width: 90vw;
  background-color: brown;

  display: flex;
}

.pop-up{
  position: absolute;
  background-color: white;
}