*{
  box-sizing: border-box;
}

body{
  color: #f2f2f2;
  --light1: #f2f2f2;
  --light2: #4877bd;
  --dark1: #1b212c;
  --dark2: #1c293e;

  --light1A: #f2f2f2CC
  --light2A: #6b95d3CC; 
  --dark1A: #10101999; 
  --dark2A: #1c293eCC;
  --black-alpha: rgba(1, 1, 1, 0.65);

  --highlight: #96ecff;
  --button-hover: #5f7fb7;
  --hover: #7CB9E8;
}

input{
  color: black;
}

button{
  color: var(--light1);
}

.background-image{
  min-height: 100vh;
  background-image: url('../public/background-image.png');
  background-size: cover;
  background-position-y: -25rem;
}

.main-center {
  min-height: 100vh;
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: rgba(1, 1, 1, .1);
}

.heading{
  width: 100%;
  padding: 2rem 1rem;
  font-size: 2rem;
}
/* .main-cont {
  background-color: orange;

  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.section-title{
  width:100%;
  margin: 0;
  padding: 1rem;
  padding-bottom: 1rem;
  color: white;
  background-color: var(--black-alpha);
  border-bottom: 1px solid var(--light1);
}

.register-modal {
  min-width: 20rem;
  min-height: 10rem;

  margin: 1rem;
  padding: 1.5rem;

  top: 4rem;
  right: 0;
  
  border: 10px solid var(--dark2);
  border-radius: 5px;
  background-color: var(--dark1);
  z-index: 10000;
}

.register-modal button{
  margin-top: 1rem;
  height: 2rem;
  width: 5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translate(0, 10%);
}

.modal-form {
  min-width: 20vw;
  min-height: 18rem;

  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: silver;
  border-radius: 5px;

  box-shadow: 2px 2px 10px 2px var(--dark1);
  background-color: var(--dark2A)
}

label {
  margin-bottom: 1rem;
}

input {
  height: 40px;
  min-width: 15rem;

  margin: .25rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 7px;
}

.modal-form label, input {
  display: block;
}

.modal-form button {
  width: 5rem;
  height: 2rem;
  margin-bottom: 1rem;  

  color: var(--light1);
  background-color: var(--dark1);
}

.modal-form button:hover {
  color: var(--light1);
  background-color: var(--dark2);
}

.button-custom{
  min-width: 5rem;
  min-height: 2rem;
  margin: 1rem;
  border: 1px solid var(--light1);
  border-radius: 4px;
  
  background-color: var(--dark1);
  cursor: pointer;
}

.button-custom:hover {
  background-color: var(--button-hover);
}

.home{
  width: 90vw;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

.pop-up{
  position: absolute;
  background-color: white;
}

.good, .bad {
  padding: 1rem;
  color: white;
  border: none;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

.add-property form {
  margin-left: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light2);
  border-radius: 5px;
  background-color: var(--black-alpha);
}

.add-property label{
  margin-bottom: 3px;
}