*{
  box-sizing: border-box;
}

.main-cont {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

header{
  width: 100 vw;
  height: 5rem;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
  
  border: 1px solid blue;
}

.location-header {
  height: 3rem;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid lightblue;
}

.register-modal {
  width: 20rem;
  height: 10rem;

  border: 1px solid green;
}