header {
    width: 100vw;
    min-width: 1024px;
    min-height: 5rem;
    padding: 5px 3.5rem;

    display: flex;
    justify-content: space-between;
    background-color: var(--dark1);
    /* position: sticky; */
    /* top:0 ; */
}

.logo{
    width: 5rem;
    height: 4rem;
    cursor: pointer;

    border-radius: 3px;
}

.header-l, .header-r{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location-header {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark2);
    box-shadow: 0px 10px 20px 0px var(--light2);
}

.location-header input {
    width: 40vw;
    height: .75rem;
    margin-right: 2rem;
    display: inline;
}

.menu-icon{
    color: white;
    cursor: pointer;
}

.menu-icon:hover{
    color:var(--light2)
}

.menu-cont {
    height: 100vh;
    width: 18rem;
    padding: 4rem .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark1);

    position:fixed;
    right: 0;
    top: 0;
    box-shadow: -5px 0px 20px 0px darkblue;
    z-index: 2000;
}

.menu-cont button {
    width: 100%;
    height: 2rem;
    border: none;
}

.menu-cont button:hover {
    background-color: var(--light2);
}

.header-nav {
    display: flex;
}

.header-nav div {
    height: 1rem;
    min-width: 3rem;
    margin-right: 1.5rem;

    color: white;
    cursor: pointer;
}

.seller-register-btn {
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    font-weight: 400;

    border: 2px solid var(--light2);
}

.seller-register-btn:hover {
    background-color: var(--light2);
}

.menu-icon{
    font-size: 1.5rem;
    margin-left: 2rem;
}

