header {
    min-width: 1024px;
    min-height: 5rem;
    padding: 5px 3.5rem;

    display: flex;
    justify-content: space-between;
    
    background-color: rgba(1, 1, 1, .9);
}

.logo{
    width: 5rem;
    height: 4rem;
    cursor: pointer;

    border-radius: 3px;
}

.header-l, .header-r{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location-header {
    padding-top: 1rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative; 
    background-color: rgba(1, 1, 1, .1);
}

.location-header input {
    width: 40vw;
    height: .75rem;
    margin-right: 2rem;
    display: inline;
}

.menu-icon{
    color: white;
    cursor: pointer;
}

.menu-icon:hover{
    color:var(--highlight);
}

.menu-cont {
    height: 100vh;
    width: 18rem;
    padding: 4rem .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    background-color: #0d1725f3; 

    position:fixed;
    right: 0;
    top: 0;
    box-shadow: -5px 0px 10px 0px var(--dark1);
    z-index: 2000;
}

.menu-cont button {
    width: 100%;
    height: 2rem;
    margin: revert;
    min-height: 2.5rem;
    border: none;
    border-radius: 3px;
    color: var(--dark1);
    background-color: var(--light1);
}

.menu-cont button:hover {
    color: var(--light1);
    background-color: var(--light2);
}

.header-nav {
    display: flex;
}

.header-nav div {
    height: 1rem;
    min-width: 3rem;
    margin-right: 1.5rem;

    color: var(--light1);
    cursor: pointer;
}

.header-nav div:hover {
    color: var(--light2);
}

.seller-register-btn {
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    font-weight: 400;

    border: 2px solid var(--light2);
}

.seller-register-btn:hover {
    background-color: var(--light2);
}

.menu-icon{
    font-size: 1.5rem;
    margin-left: 2rem;
}

.search-results-div{
    width: 35rem;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 24rem;
    background-color: var(--light1);

    z-index: 500;
}

.search-results-div div{
    padding: 0.3rem 1rem;
}
.search-results-div div:hover{
    background-color: var(--highlight);
}