.card-component {
    width: 23rem;
    min-width: 7rem;
    margin: 1.5rem 0;
    padding: .5rem;
    border-radius: 5px;
    
    font-size: 14px;
    
    background-color: var(--light1);
    box-shadow: 1px 1px 20px 1px var(--dark2);

    cursor: pointer;

    /* color: var(--); */
}

.card-component:hover{
    background-color: var(--highlight);
}

.card-component div,
.card-component h3 {
    max-height: 40px;
    border-radius: 5px;
    /* margin: 0; */
    padding: 10px 12px;

    overflow: hidden;

    color: var(--dark2);
}

.card-component .description{
    font-size: 13px;
    margin-bottom: 1rem;

    border-bottom: 1px solid var(--dark2A);
    border-radius: 0;
}

.card-component .name{
    color: var(--light1);
    background-color: var(--dark2);
    box-shadow: 0px 0px 5px 1px var(--dark2);
    margin-bottom: 1rem;
}

.card-component .location {
    font-weight: 600;
}

.card-component .hori {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(31, 242, 137, 0.5);
}

.notification-card {
    background-color: var(--light2);
}

.notification-card:hover{
    background-color: var(--light2);
}