.recent-feed {
    width: 50%;
    padding: 1rem;
    
    display: inline;
    background-color: antiquewhite;   
    border: 10px solid green;
}

.map-cont{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid blue;
  }